.thanos-page-config {
    flex: 1;
    border-left: 1px solid #ccd5db;
}

.thanos-page-config-title {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #ccd5db;
}

.thanos-page-config-form {
    padding: 10px;
}