.thanos-select-template-container {
    .template-lib-wrapper {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: center;

        li {
            display: flex;
            flex: 1;
            min-width: 300px;
            max-width: 300px;
            height: 200px;
            margin: 12px;
            padding: 12px;
            background: #6190E8;
            background: linear-gradient(to right, #A7BFE8, #6190E8);
            color: #fff;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .title {
                margin: 0px;
                font-size: 24px;
            }
        }
    }

}