.thanos-generate-page-container {
    
    .page-wrapper {
        display: flex;
        min-height: calc(100vh - 56px);

        .left-toolbar {
            width: 50px;
            height: 100%;
            padding: 12px 10px;
            text-align: center;

            .anticon {
                display: block;
                padding: 6px;
                cursor: pointer;
            }

            .scale-percent {
                font-size: 12px;
            }
        }
    
        .page-shower {
            display: flex;
            flex: 1;
            height: 100%;
            background: #dcdcdc;
            justify-content: center;
            align-items: center;

            .canvas {
                width: 100%;
                height: 100%;
                border: 1px solid #dcdcdc;
                box-sizing: border-box;
                // width: 1060px;
                // height: 648px;
                background: #fff;

                .thanos-page {
                    display: flex;
                    flex-direction: 'column';
                
                    .thanos-page-container {
                        flex: 1;
                        padding: 15px;
                        position: relative;

                        .item-close-box {
                            position: absolute;
                            right: 5px;
                            font-size: 20px;
                            top: -8px;
                        }
                    }
                
                    .thanos-page-operation {
                        width: 256px;
                        background-color: #fafafa;
                        display: flex;
                        flex-direction: column;
                        min-height: calc(100vh - 56px);
                        border-right: 1px solid #ccd5db;
                
                        .thanos-page-operation-bar-tools {
                            width: 44px;
                            padding: 5px;
                            text-align: center;
                            border-left: 1px solid #ccd5db;
                            border-right: 1px solid #ccd5db;
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
}