.my-template-container {
    // width: 80%;
    margin: auto;
    
    .my-template-title {
        font-size: 30px;
        // padding: 10px 0 10px;
    }
}
.my-template-container {
    // width: 80%;
    margin: auto;
    
    .my-template-title {
        font-size: 30px;
        // padding: 10px 0 10px;
    }
}
.tab_ul{
    display: flex
}
.tab{
    margin-left: 36px;
}