.thanos-top-toolbar {
    display: flex;
    flex: 1;
    justify-content: center;
    //align-items: center;
    margin: 0;

    //li {
    //    width: 50px;
    //    text-align: center;
    //    cursor: pointer;
    //}
}

//ul {
//    margin: 0;
//    padding: 0;
//}
